<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.9"
    id          = "com.achuth.creatnlrn"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Creatnlrn</name>
  <icon src="img/icon.png">
    
  <description>
      creatnlrn demo profile
  </description>

  <author >
      Achuth Pradeep
  </author>
  <preference name="orientation" value="portrait" />

</widget>